In [29]:
import ujson
import pandas as pd
import numpy as np
import json
import datetime
import os

In [30]:
folderName="20210604"
dir_path = "./"+folderName
if not os.path.exists(dir_path):
    os.makedirs(dir_path)

In [31]:
def aichi_ndjson(file,date):
    records = map(ujson.loads,open(file))
    df = pd.DataFrame.from_records(records)
    df_ai=df[df['prefecture']=='23']
    df_ai.to_csv(dir_path+'/aichi_vaccine_'+date+'.csv')

In [6]:
aichi_ndjson('prefecture.ndjson','20210603')

In [22]:
aichi_ndjson('../20210601/prefecture.ndjson','20210601')

In [12]:
df = pd.read_csv('aichi_vaccine_20210603.csv')
df.head()

,Unnamed: 0,date,prefecture,gender,age,medical_worker,status,count
0,49,2021-04-12,23,U,UNK,False,1,1
1,179,2021-04-13,23,F,-64,False,1,1
2,303,2021-04-14,23,F,-64,False,1,2
3,304,2021-04-14,23,F,65-,False,1,102
4,305,2021-04-14,23,M,65-,False,1,94

In [13]:
df['count'].sum()

478164

In [28]:
print(df[df['date']=='2021-06-01'])
print('------------------------------------------')
print(df[df['date']=='2021-06-01']['count'].sum())

     Unnamed: 0        date  prefecture gender  age  medical_worker  status  \
322       14876  2021-06-01          23      F  -64           False       1
323       14877  2021-06-01          23      F  -64           False       2
324       14878  2021-06-01          23      F  65-           False       1
325       14879  2021-06-01          23      F  65-           False       2
326       14880  2021-06-01          23      M  -64           False       1
327       14881  2021-06-01          23      M  -64           False       2
328       14882  2021-06-01          23      M  65-           False       1
329       14883  2021-06-01          23      M  65-           False       2
330       14884  2021-06-01          23      U  UNK           False       1
331       14885  2021-06-01          23      U  UNK           False       2

     count
322    280
323     17
324  17968
325   1229
326    274
327     21
328  13643
329    862
330     54
331      5
------------------------------------------
34353

In [18]:
print(df[df['date']=='2021-06-03'])
print('------------------------------------------')
print(df[df['date']=='2021-06-03']['count'].sum())

     Unnamed: 0        date  prefecture gender  age  medical_worker  status  \
342       15794  2021-06-03          23      F  -64           False       1
343       15795  2021-06-03          23      F  -64           False       2
344       15796  2021-06-03          23      F  65-           False       1
345       15797  2021-06-03          23      F  65-           False       2
346       15798  2021-06-03          23      M  -64           False       1
347       15799  2021-06-03          23      M  -64           False       2
348       15800  2021-06-03          23      M  65-           False       1
349       15801  2021-06-03          23      M  65-           False       2
350       15802  2021-06-03          23      U  UNK           False       1
351       15803  2021-06-03          23      U  UNK           False       2

     count
342    320
343     28
344  17646
345   1990
346    301
347     22
348  13313
349   1369
350     68
351      1
------------------------------------------
35058

In [27]:
df[df['status']==1]['count'].sum()

447777